<div class="carousel-container">
  <% @books.each do |book| %>

    <div class="container">
      <%# <div class="book-cover"> %>
        <div class="carousel-img">
          <%# <div class="book"> %>


            <%= link_to image_tag("#{book.cover_picture}", :border => 0, :alt => '', :title => ''), book_path(book), :class => 'dock-item' %>

          <%# </div> %>
        </div>
      <%# </div> %>

    </div>
  <% end %>
</div>