
<button type="button" class="btn btn-secondary btn-lg btn-block">Kids</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Sci-Fi and Fantasy</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Mystery and Crime</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Comics</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Classics</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Non-fiction</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Romance</button>

