<div class="carousel-container">
  <% @books.each do |book| %>
        <div class="container">
            <div class="carousel-img">
                <%= image_tag book.cover_picture %> 
            </div>
        </div>
    </div>
  <% end %>
</div>
