



<% @books_categories.each do |category, books| %>
  <div class="carousel-container">
    <% books.each do |book| %>
      <div class="container">
        <div class="carousel-img">
           <%= link_to image_tag("#{book.cover_picture}", :border => 0, :alt => '', :title => ''), book_path(book), :class => 'dock-item' %>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to "#{category}", category_path(category: "#{category}")%></button>
  </div>
<% end %>
