<div class="footer">
  <div class="footer-links">
    <div class="group1">
      <a href="https://github.com/HundiBar"><i class="fab fa-github"></i> Dean</a>
      <a href="https://github.com/Smattison0830"><i class="fab fa-github"></i> Spencer</a>
      
    </div>
    <div class="group2">
      <a href="https://github.com/troyruss"><i class="fab fa-github"></i> Troy</a>
      <a href="https://github.com/Ren33000"><i class="fab fa-github"></i> Mylene</a>
    </div>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> at Le Wagon Tokyo
  </div>
</div>