<h5>
  <%= user.name %>'s books
</h5>
<div class="carousel-container" >
  <% user.books.each do |book| %>
    <div class="wrapper mb-3">
      <div class="book">
        <div class="inner-book">
          <div class="img" style="padding-top: calc(1.07 * 100%)">
                  <%= link_to image_tag("#{book.cover_picture}", :border => 0, :alt => '', :title => ''), book_path(book) %>
          </div>
          <div class="page"></div>
          <div class="page page-2"></div>
          <div class="page page-3"></div>
          <div class="page page-4"></div>
          <div class="page page-5"></div>
          <div class="img final-page" style="padding-top: calc(1.07 * 100%)">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/277/02-cat-hair.jpg" />
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
