 <div class=" text-center" id="title">
  <h1><i class="fas fa-book-reader"></i></h1>
  <h1>T<small>he</small> C<small>entral</small> G<small>aijin</small> L<small>ibrary</small></h1>
 </div>

 <%# </div>
         <div class="topnav-right align-item-center">
        <%= link_to root_path, class: "text-light" do %>
            <%# <h1><i class="fas fa-book-reader"><i> CGL</i></i></h1> %>
        <%# <% end %> 
    <%# </div>  %> 





  <%= render 'shared/btn-category' %>
  <%= render 'shared/book-frame' %>
  <%= render 'shared/category-carousel' %>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>





















