
  <%= render 'shared/book-frame' %>

  <%= render 'shared/btn-category' %>

  <div class="row">
  <div class="col text-center">
      <div class="btn btn-light justify-content">
        <% if policy(Book).create? %>
          <i class="fas fa-book"></i>
          <%= link_to "Add a book", new_book_path, :class => "btn" %>
        <% end %>
      </div>
    </div>
  </div>


  
















