 <div class=" text-center" id="title">
  <h6>Welcome to the <br></h6>
  <h4>C<small>entral</small> G<small>aijin</small> L<small>ibrary!</small></h4>
 </div>

  <%= render 'shared/book-frame' %>
  <%= render 'shared/btn-category' %>
  <%= render 'shared/category-carousel' %>

<%# <div class="d-flex justify-content-center align-items-center"> %>
  <%# <div class="btn btn-light justify-content"> %>
    <%# <% if policy(Book).create? %>
      <%# <i class="fas fa-book"></i> %>
      <%# <%= link_to "Add a book", new_book_path, :class => "btn" %>
    <%# <% end %>
  <%# </div> %>
<%# </div>  %>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>





















