<% if policy(Book).create? %>
  <%= link_to "Add a book", new_book_path %>
<% end %>
<% @books.each do |book| %>
  <ul>
    <li><%= book.title %> </li>
    <li> <%= image_tag book.cover_picture %> </li>
    <li> <%= book.ISBN %> </li>
  </ul>
<% end %>


