 <div class=" text-center" id="title">
  <h6>Welcome to the <br></h6> 
  <h4>C<small>entral</small> G<small>aijin</small> L<small>ibrary!</small></h4>
 </div>
 
  <%= render 'shared/book-frame' %>
  <%= render 'shared/btn-category' %>
  <%= render 'shared/category-carousel' %>

<%# <div class="d-flex justify-content-center align-items-center"> %>
  <%# <div class="btn btn-light justify-content"> %>
    <%# <% if policy(Book).create? %> 
      <%# <i class="fas fa-book"></i> %>
      <%# <%= link_to "Add a book", new_book_path, :class => "btn" %>
    <%# <% end %> 
  <%# </div> %>
<%# </div>  %>






















