 <div class=" text-center" id="title" >
  <h1><i class="fas fa-book-reader"></i></h1>
  <h1>T<small>he</small> C<small>entral</small> G<small>aijin</small> L<small>ibrary</small></h1>
  <div class="d-flex justify-content-center align-items-center mt-5">
    <%= link_to "Add a book", new_book_path, class:'button-primary justify-content-center'%>
  </div>
</div>



  <%= render 'shared/category-carousel' %>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>





















