.card-pick {
    /*fixed*/
    display: flex;
    flex-direction: column;
    /*customizable*/
    height: 300px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0px 16px rgb(0, 0, 0);
    opacity: 0.3;
}

.card-pick img {
    /*fixed*/
    width: 100%;
    min-height: 100px;
    flex-grow: 1;
    object-fit: cover;
    /*customizable*/
    object-position: 50% 50%;
    border-radius: 4px 4px 0 0;
}

.card-pick-info {
    padding: 16px;
    text-decoration: none;
    color: $light_white;
    background-color: rgb(181, 8, 8);
    .h2 {
        margin: 16px 0;
    }
}

.card-pick:hover {
    transition: 0.2s ease-out;
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgb(0, 0, 0);
}