.card-container {
    margin-left: 400px;
    margin-top: 50px;
    background-color: white;
}

.carousel-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.carousel-card {
    background-color: red;
}

.carousel-img {
    margin-top: 50px;
    object-fit: fill;
    height: 70%;
    width: 70%;
    // color: white;
}

.carousel-content {
    color: white;
}