// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "book-frame";
@import "add-book-btn";
@import "btn-category";
.carousel-container {
    // margin-top: 500px;
    // background-color: gray;
    width: 500px;
    display: flex;
    overflow-x: scroll;
}

.carousel-image {
    // min-width: 100px;
    height: 100px;
    color: white;
}