.navbar-lewagon {
    justify-content: space-between;
    background-image: image-url("shelf-down.png");
    box-shadow: 0px 5px 5px 0px rgba(rgb(106, 103, 103), 0.2);
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 40px;
}

.dropdown-menu {
    /* metade transparente: alpha = .5 */
    background-color: rgba(255, 255, 255, 0.5) !important;
}
